<div class="container mt-5">
  <h2 class="text-center text-primary">Edycja zawodnika</h2>

  <form #editForm="ngForm" id="editForm" style="width: 50%; margin: 0 auto;" (ngSubmit)="updatePlayer()">
    <div class="form-group">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Uwaga:</strong> Wprowadzono zmiany. Niezapisane zmiany zostaną utracone.
      </div>
      <label for="name">Imię</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="player.name" placeholder="Wpisz imię zawodnika"
        required>
      <label for="surname">Nazwisko</label>
      <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="player.surname" placeholder="Wpisz nazwisko zawodnika"
        required>
      <label for="country">Kraj</label>
      <input type="text" class="form-control" id="country" name="country" [(ngModel)]="player.country" placeholder="Wpisz kraj pochodzenia zawodnika"
        required>
      <label for="dateOfBirth">Data urodzenia</label>
      <input type="text" bsDatepicker [bsConfig]="bsConfig" class="form-control" id="dateOfBirth" name="dateOfBirth"
        [(ngModel)]="player.dateOfBirth" placeholder="Wpisz datę urodzenia zawodnika" required>
      <label for="team">Drużyna</label>
      <mat-select class="form-control" id="team" name="team" [(ngModel)]="player.teamId" placeholder="{{player.team.name}}">
        <mat-option *ngFor="let team of teams" value="{{team.id}}">{{team.name}}</mat-option>
      </mat-select>
      <label for="position">Pozycja</label>
      <mat-select class="form-control" [(ngModel)]="player.positionId" id="position" name="position" placeholder="{{player.position.name}}" required>
        <mat-option *ngFor="let position of positions" value="{{position.id}}">{{position.name}}</mat-option>
      </mat-select>
    </div>
    <button type="submit" [disabled]="!editForm.valid" class="btn btn-primary btn-block">Zatwierdź</button>
    <small *ngIf="!editForm.valid" class="form-text text-muted">Nie wszystkie pola zostały wypełnione.</small>
  </form>
</div>