<div class="container mt-5">
  <mat-card>
    <div>
      <p style="text-align: center; margin-bottom: 0px">Kolejka nr: ?</p>
      <p style="text-align: center; margin-bottom: 0px">Data spotkania: {{ match?.dateOfMatch | date: 'dd/MM/yy' }} </p>
      <p style="text-align: center;" *ngIf="!match?.hasEnded" else matchEnded>Status: NIEROZPOCZĘTY </p>
      <p style="text-align: center;" *ngIf="match?.hasEnded" else matchEnded>Status: ZAKOŃCZONY </p>
    </div>
    <div class="mt-5" style="margin: 0 auto;">

      <div class="row">
        <div class="col-sm-5">
          <h2 class="text-center text-primary">{{ match?.homeTeam.name }}</h2>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
          <h2 class="text-center text-primary">{{ match?.awayTeam.name }}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5">
          <div class="text-center mt-5">
            <img src="{{ match?.homeTeam.photoUrl }}" alt="homeBadge">
          </div>
        </div>
        <div class="col-sm-2" style="text-align: center; margin: auto;">
          <p class="text-primary" style="font-size: 70px;">{{ match?.homeGoals }}:{{ match?.awayGoals }}</p>
        </div>
        <div class="col-sm-5">
          <div class="text-center mt-5">
            <img src="{{ match?.homeTeam.photoUrl }}" alt="homeBadge">
          </div>
        </div>
      </div>

      <h4 class="text-center text-primary">Statystki meczowe</h4>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <div>
            
          </div>
          </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <div style="text-align: right;">
                Brameczka
              </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </mat-card>

  <button class="btn btn-primary w-10 mt-3" [routerLink]="['/matches/',matchId,'edit']">Edytuj mecz</button>
