<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Football App</a>
    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/areas']">Okręgi</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/leagues']">Ligi</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/teams']">Drużyny</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/players']">Zawodnicy</a>
        </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/feed']">Tablica</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Witaj, {{authService.decodedToken?.unique_name | titlecase}}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Edytuj profil</a>
        <a class="dropdown-item" href="#"><i class="fa fa-star"></i> Ulubione drużyny</a>
        <a class="dropdown-item" href="#"><i class="fa fa-star"></i> Ulubieni zawodnicy</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Wyloguj</a>
      </div>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" placeholder="Użytkownik" required [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="Hasło" required [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-secondary btn-outline-black my-2 my-sm-0" type="submit">Zaloguj</button>
    </form>
  </div>
</nav>