<!-- <div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6">
      <table mdbTable>
        <tr style="width: 100%">
          <th>Poz.</th>
          <th>Nazwa drużyny</th>
          <th>Mecze</th>
          <th>Wygrane</th>
          <th>Remisy</th>
          <th>Porażki</th>
          <th>Bramki</th>
          <th>Punkty</th>
        </tr>
        <tr>
          <td>1</td>
        </tr>
      </table>
      <p *ngFor="let team of teams">{{team.name}}</p>
    </div>
  </div>
</div> -->

<div class="container mt-5">
  <h2 class="text-center text-primary">Drużyny</h2>
  <mat-card  *ngFor="let team of teams">
    <a [routerLink]="['/teams/', team.id]">{{team.name}}</a>
  </mat-card>
</div>