<div class="container mt-5">
  <h2 class="text-primary text-center">Panel administracyjny</h2>
  <hr class="mb-2" style="width: 50%">
  <div class="tab-panel">
    <mat-tab-group class="member-tabset">
      <mat-tab label="Użytkownicy" *appHasRole="['Administrator']">
        <div class="container">
          <app-user-management></app-user-management>
        </div>
      </mat-tab>
      <mat-tab label="Okręgi" *appHasRole="['Administrator']">
        <div class="container">
          <app-area-management></app-area-management>
        </div>
      </mat-tab>
      <mat-tab label="Ligi"  *appHasRole="['Administrator']">
          <div class="container">
              <app-league-management></app-league-management>
            </div>
          </mat-tab>
      <mat-tab label="Sezony" *appHasRole="['Administrator']">
          <div class="container">
          <app-season-management></app-season-management>
          </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>