<div class="container mt-4">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-thumbnail" src="{{ team?.photoUrl }}" alt="image">
          <div class="card-body">
            <div>
              <h4 style="text-align: center;">{{team?.name}}</h4>
            </div>
          </div>
          <div class="card-footer">
            <div class="btn-group d-flex">
              <button class="btn btn-primary w-100" (click)="likeTeam(team.id)"><i class="fa fa-heart" aria-hidden="true"></i></button>
            </div>
              <div *appHasRole="['Moderator','Administrator']" class="btn-group d-flex">
              <button class="btn btn-primary w-100 mt-2" [routerLink]="['/teams/', team?.id, 'edit']" >Edytuj drużynę</button>
            </div>
            <div *appHasRole="['Moderator','Administrator']" class="btn-group d-flex">
              <button class="btn btn-danger w-100 mt-2" (click)="deleteTeam();">Usuń drużynę</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="tab-panel">
          <tabset class="team-tabset">
            <tab heading="Informacje">
              <h4>Adres</h4>
              <p>{{team?.address}}</p>
              <h4>Email</h4>
              <p>{{team?.email}}</p>
              <h4>Telefon</h4>
              <p>{{team?.telephone}}</p>
              <h4>Trener</h4>
              <p><a href="#">{{team?.manager.name}} {{team?.manager.surname}}</a></p>
              <h4>Liga</h4>
              <p>{{team?.league.area.name}}: {{team?.league.name}}</p>
            </tab>
            <tab heading="Zawodnicy">
                <mat-card *ngFor="let player of players">
                  <a [routerLink]="['/player/', player.id]">{{player.name}} {{player.surname}}</a>
                  <p>{{player.position.name}}</p>
                </mat-card>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>